{{# partial "titulo" }}	
	
<title>Metodologias</title>

{{/partial}}
	
{{#partial "contenido"}}
<div class="panel panel-default">
	<div class="panel-heading">Metodologia &gt; <b>Ejecutar Metodologia</b></div>
  	<div class="panel-body">
		<form action="/DDSTpAnual/metodologias/ejecutar" method= "GET" class="form-inline">
			<input type="hidden" id="metodologiaSeleccionada" value="{{metodologiaSeleccionada}}" />
			<input type="hidden" id="periodoSeleccionado" value="{{periodoSeleccionado}}" /> 
			<div class="form-group" style="margin-right: 20px;">
	    		<select id="metodologias" class="form-control" name="metodologiaSeleccionada" placeholder="Metodologia">
    				{{#with metodologias}}
			    		{{#each metodologias}}
			 				<option>{{nombre}}</option>
			  			{{/each}}
					{{/with}}
	    		</select>
	  		</div>
	  		<div class="form-group" style="margin-right: 20px;">
	  			<select id="periodos" class="form-control" name="periodoSeleccionado">
		  			{{#each periodos}}
		 				<option>{{fecha}}</option>
		  			{{/each}}
	  			</select>
	  		</div>
	  		<button type="submit" class="btn btn-primary">Ejecutar</button>
		</form>
	</div>
</div>	

{{#with metodologiaEncontrada}}
<div class="panel panel-default">
	<div class="panel-heading">Metodologia <b>{{nombre}}</b></div>
  		<div class="panel-body">
  			<div class="col-md-6 col-sm-6">
				<h2 style="margin: 5px;"> Condiciones: </h2>
				<ul type = disk>	
					{{#each condiciones}}
						<li><label> {{indicador.nombre}} <span class="label label-default">{{indicador.formula}}</span> {{filtro}} a {{valor}}</label></li>
					{{/each}}
				</ul>
			</div>
			<div class="col-md-6 col-sm-6">
				<h2 style="margin: 5px;"> Orden: </h2>
				<ul type = disk>	
					{{#each ordenes}}
						<li><label> {{indicador.nombre}} <span class="label label-default">{{indicador.formula}}</span> {{tipoOrden}}</label></li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>	
{{/with}}

{{#with empresasMetodologias}}
	<div class="panel panel-default">
  		<div class="panel-body">
			<table class="table table-condensed">
				<thead>
					<tr>
				   		<th>Empresa</th>
				   		<th>Valores de indicadores</th>
					</tr>
				</thead>
				<tbody>
					{{#each empresasMetodologias}}
						<tr>
					   		<td>{{empresa.nombre}}</td>
					   		<td>
					   			<ul type = disk>	
									{{#each indicadoresPrecalculados}}
										<li><label> {{indicador.nombre}} = {{valorIndicador}}</label></li>
									{{/each}}
								</ul>
					   		</td>
						</tr>
					{{/each}}
				</tbody>	
			</table>
		</div>
	</div>
{{/with}}

{{/partial}}

{{# partial "footer" }}
	<script type="text/javascript" src="../DDSTpAnual/js/listadoMetodologias.js"></script>	
	<script type="text/javascript" src="../js/listadoMetodologias.js"></script>	
{{/partial}}
{{>common/layout.hbs}}